:root {
    /* Primary Colours*/
    --blue-600: hsl(185, 75%, 39%);
    --navy-950: hsl(229, 23%, 23%);
    --gray-500: hsl(227, 10%, 46%);

    /* Neutral Colours */
    --gray-100: hsl(225, 10%, 92%);

   /* Typography */
    --font-family: 'Kumbh Sans', sans-serif;

    --font-weight-body: 400;
    --font-weight-bold: 700;
}

body {
    background-color: var(--blue-600);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: -10vw -50vh, 55vw 65vh;
    background-size: 70vw 75vh, 100vw 75vh;
}

.card {
    background-color: white;
    border-radius: .65rem;
    margin:  20vh auto;
    max-width: 20rem;
    overflow: hidden;

    background-image: url(./images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 23rem;

    font-family: var(--font-family);

    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5em 0 1.5em;

    font-size: 1.125rem;
    color: var(--gray-500);
}

.header > img {
    border: .33rem solid white;
    border-radius: 50%;

    margin-top: 5.3em;

    position: relative;
}

.header > h2 {
    font-size: 1.25rem;
    font-weight: 400;

    margin: 1em 0 0 0;
}

strong {
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    color: var(--navy-950);

    padding: 0 0.2em 0 1rem;
}

.header > p {
    font-size: 1rem;

    padding: 0;
    margin: 0.5em;
}

.card > hr {
    border: 0.02rem solid var(--gray-100);
    width: 100%;
    justify-self: stretch;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    font-size: 1.125rem;
    
    padding: 0.4em;
    margin: 0.3em;
}

.stats > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.8rem;
    line-height: 0.8;
    font-size: 0.7rem;
    font-weight: var(--font-weight-body);
    color: var(--gray-500);
    letter-spacing: 0.1rem;
    margin: 0;
    padding-bottom: 0.2rem;
}

.stats > p > strong {
    font-size: 1.8em;
    color: var(--navy-950);
    margin-bottom: 0.01rem
    letter-spacing: 0.04rem;
    padding: 0;
}

.footer {
    text-align: center;
    font-size: 0.7rem;
}






@media (min-width: 768px) {
    .card {
        margin: 15% auto;
        max-width: 26rem;
        height: 25rem;

        background-image: url(./images/bg-pattern-card.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 28rem 9.5rem;
    }

    body {
        background-color: var(--blue-600);
        background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
        background-repeat: no-repeat;
        background-position: -25vw -75vh, 45vw 50vh;
        background-size: 75vw, 75vw;
    }

    .header {
        margin-bottom: 1.5em;
    }

}
